<div class="form-group row">
    <label class="col-form-label col-sm-2" for="ID">ID</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="ID" value="<%= model.cusid %>"/>
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="FName">FName</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="FName" value="<%= model.cusfname%>" />
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="LName">LName</label>
    <div class="col-sm-7">
        <input class="form-control" name="LName" value="<%= model.cuslname %>" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="State">State</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="State" value="<%= model.cusstate%>" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="YTDsales">YTDsales</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="YTDsales" value="<%= model.cussalesytd%>" />
    </div>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-2" for="PrevYearSales">PrevYearSales</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="PrevYearSales" value="<%= model.cussalesprev%>" />
    </div>
</div>